<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Check that there is a space between the letters.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This is an example of encoded message     </string>
		</dict>
		<dict>
			<key>Content</key>
			<string>SOS is ... --- ...  in morse code!</string>
			<key>SpoilerButtonTitle</key>
			<string>Show Solution</string>
		</dict>
	</array>
</dict>
</plist>
